# Bundler cache
.bundle
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
.github

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json